body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: absolute;
    top: 0;
    left:  0;
    right: 0;
    height: 75px;
    text-align: center;
    background-color: #273045;
    color: aliceblue;
}
h2{
    margin: 0;
}
button{
    height: 35px;
    min-width: 120px;
    outline: none;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 3px #999999;
}
input[name="transposition"]{
    height: 30px;
    line-height: 30px;
    width: 50px;
    border-radius: 8px;
    text-align: center;
    /* box-shadow: 0 3px #999999; */
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid firebrick;
    border-top: 1px solid firebrick;
    outline: 0;
    font-size: 20px;
    vertical-align: middle;
}
label{
    font-weight: bold;
}
button:hover{
    color: grey;
    opacity: 0.8;
    text-shadow: black;
}
button:active{
    color: white;
    opacity: 0.5;
}
button.play-button{
    background-color: #c0d857;
}
button.generate-button{
    background-color: #E8AC51;
}
button.reset-button{
    background-color: #FF656C;
}
button.identity-button, button.retrograde-button, button.pause-button, button.transposition-button{
    background-color: #6FC5DD;
}
button.load-button {
    position: relative;
    top: 40%;
    float: right;
    background-color: #273045;
    color: white;
}
.main-container{
    position: relative;
    top: 10vh;
    text-align: center;
    padding-bottom: 6vh;
}
footer{
    position: fixed;
    bottom: 0;
    left:  0;
    right: 0;
    width: 100vw;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    background-color: #d0d0d0;
    display: block;

}
.center{
    text-align: center;
}
.main-container > div{
    max-width: 600px;
    border-left: #d0d0d0 dotted 1px;
    border-right: #d0d0d0 dotted 1px;
    border-bottom: #d0d0d0 dotted 1px;
    border-radius: 10px;
    margin: 10px auto;
}
.info{
    padding: 15px;
    text-align: left;
}
.info.buttons{
    text-align: center;
    padding: 5px;
}
.keyboard-сontainer{
    padding: 15px;
    border: 1px dotted gray;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    max-width: 600px;
    min-width: 255px;
    margin: 0 auto;
    display: inline-block;
}
.key{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    position: relative;
}
.black-key{
    background-color: black;
    width: 40px;
    height: 120px;
    margin-left: -25px;
    margin-right: -25px;
    z-index: 10;
}
.black-key:active{
    background-color: #333333;
}
.white-key{
    background-color: white;
    width:65px;
    height: 180px;
    z-index: 5;
}
.white-key:active{
    background-color: whitesmoke;
}
.bpm-display-label{
    width: 50px;
    height: 30px;
    display: inline-block;
    position: relative;
    top: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}
.bpm-display{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #273045;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    border-radius: 100%;
}
.disabled-key{
    background-image: url("./images/bg.png");
    cursor: initial;
}
.disabled-key:active{
    background-color: #999999;
}
.bpm-value{
    width: 35px;
    height: 25px;
    border: 0;
    border-radius: 50%;
    background-color: #aaaaaa;
    text-align: center;
    outline: none;
}
.mask{
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 999;
    position: fixed;
    line-height: 100vh;
    left: 0;
    top: 0;
    text-align: center;
    font-weight: bold;
    opacity: 0.97;
    display: none;
}
.popup-mask{
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 998;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    font-weight: bold;
    opacity: 0.97;
    display: none;
}
.popup{
    display: none;
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -150px;
    opacity: 1;
    background-color: #fafafa;
    z-index: 999;
    border: 2px solid #273045;
    border-radius: 5px;
}

.close-popup {
    background-color: crimson;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

.close-popup:active {
    background-color: #FF656C;
}

.popup-header{
    height: 20px;
    background-color: #273045;
    padding: 10px;
    color: white;
}

.popup-content {
    padding: 10px;
    height: 140px;
}

@media all and (max-width: 650px){
    .black-key{
        width: 20px;
        height: 80px;
        margin-left: -20px;
        margin-right: -20px;
    }
    .white-key{
        width: 40px;
        height: 120px;
    }
    .bpm-display-label{
        top: 0;
    }
}